################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ByteOperations/x64
/ByteOperationsDie/x64
/cmake-build-debug
/x64
